
.tarjeta {
    background-color: #2e3a45;
    transition: transform 0.3s ease; 
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.boton {
    position: absolute; 
    bottom: 1rem; 
    right: 1rem; 
    z-index: 10; 
    width: auto;
    height: auto;
    font-size: small;
}

.fondo-modal{
    background-color: #2E3A45;
}