.footer-app {
  background-color: #212529;
  color: #aeb2a0;

  & .nav {
    border-bottom: 2px solid #495057;
  }

  & .social a {
    margin: 0 10px;
  }

  & .nav-link,
  a,
  i {
    text-decoration: none;
    color: #aeb2a0;
    transition: 0.2s ease-out;
    & :hover {
      color: white;
    }
  }

  & .nav-link:hover {
    color: white;
  }
}
