.navbar-app {
  background-color: #212529;
  color: #aeb2a0;
  font-size: 1.2rem;

  & .nav-link,
  a{
    text-decoration: none;
    color: #aeb2a0;
    transition: 0.2s ease-out;

    &:hover {
      color: white;
    }
  }
}
